body{
    font-family: 'Arimo', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



.spiner-center{
    position: relative;
    top: 10rem;
}

#details-btn{
    outline: none;
    border: none;
    color: tomato;
}
#details-btn:hover{
    color: rgb(189, 39, 13);
}
.modal-details{
    max-width: 875px !important;
}
.image{
    position: relative;
}
.image > span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #EB5757;
    color: whitesmoke;
    
}